@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

@font-face {
     font-family: "batman";
     src: url("../fonts/batmfa__.ttf");
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
}

body {
     font-size: 100%;
     width: 100%;
     height: 100vh;
     background-image: url("../img/background.jpg");
     background-size: cover;
     background-repeat: no-repeat;
}

.cabecalho {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     padding: 24px;
}

.cabecalho-imagem {
     height: 72px;
}

.cabecalho-menu {
     display: flex;
     gap: 32px;
}

.cabecalho-menu-item {
     font-family: "batman";
     color: #fff;
     cursor: pointer;
     font-weight: 400;
     font-size: 18px;
}

.cabecalho-menu-item::after {
     display: block;
     content: '';
     border-bottom: solid 2px #e5e5e5;
     transform: scaleX(0);
     transition: transform 300ms ease-in-out;
}

.cabecalho-menu-item:hover::after {
     transform: scaleX(1);
}

.conteudo {
     margin-bottom: 48px;
     border-top: 0.4px solid #fff;
}

.conteudo-principal {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
}

.conteudo-principal-escrito {
     display: flex;
     flex-direction: column;
     gap: 32px;
}

.conteudo-principal-escrito-titulo {
     font-family: "batman";
     font-weight: 600;
     font-size: 64px;
     color: #fff;
}

.conteudo-principal-escrito-subtitulo {
     font-family: "batman";
     font-weight: 400;
     font-size: 24px;
     color: #fff;
}

.conteudo-principal-escrito-texto {
     color: #d7d4d4;
     font-family: 'Roboto Mono', monospace;
     font-weight: 400;
     font-size: 15px;
}

.conteudo-principal-escrito-botao {
     background-color: rgba(0, 0, 0, 0.776);
     border: 1px solid #faec27cb;
     border-radius: 12px;
     box-shadow: #faec2713 0px 9px 29px 0px;
     color: #faed27;
     height: 60px;
     font-family: 'Roboto Mono', monospace;
     font-weight: 400;
     font-size: 22px;
     width: 240px;
}

.conteudo-principal-escrito-botao:hover {
     cursor: pointer;
}

.conteudo-principal-imagem {
     height: 430px;
}